body {
    background-color: #707070;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.grid {
    display: inline-block;
    margin-bottom: 25px;
}

.row {
    display: flex;
}

.table-display {
    width: 70%;
    background-color: #b9b0b0;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding: 0 25px 25px 25px;
    border: 1px solid #000000;
}

.cell {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #707070;
    font-size: 8px;
}

.cell.start {
    border: 1px solid #ff0000;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #dddddd;
}

button:disabled {
    cursor: not-allowed;
}

button,
input[type='number'] {
    height: 20px;
    text-align: center;
}
